fastapi
uvicorn[standard]
python-multipart
sqlalchemy
alembic
asyncpg
psycopg2-binary
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic
pydantic-settings
email-validator
google-genai
httpx
boto3
python-dotenv
aiofiles
cryptography
loguru
livekit-api
bcrypt==4.0.1
celery
python-dateutil
reportlab
